<div style="background-color:#ffe0e0; padding: 20px; border-radius: 10px;">
  <h1 style="color:#2e2e2e;">üè° An√°lisis de Precio de Alquileres en Barcelona con Pandas</h1>
  <h2 style="color:#4d4d4d;">üìä Explorando Tendencias del Mercado Inmobiliario 2014/2022</h2>
  <h3 style="color:#4d4d4d;">üë®üèΩ‚Äçüíª Jos√© Messias Garcia da Silva Ferreira</h3>
</div>

In [300]:
import pandas as pd
data = pd.read_csv("barcelonarenting.csv")
display(data)

,Year,Trimester,District,Neighbourhood,average rent (euro/month)
0,2014,1,Ciutat Vella,el Raval,589.55
1,2014,1,Ciutat Vella,Gothic Quarter,712.79
2,2014,1,Ciutat Vella,la Barceloneta,540.71
3,2014,1,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",673.44
4,2014,1,Eixample,Fort Pienc,736.09
...,...,...,...,...,...
2306,2022,2,Sant Marti,Diagonal Mar i el Front Maritim del Poblenou,1238.70
2307,2022,2,Sant Marti,el Besos i el Maresme,779.20
2308,2022,2,Sant Marti,Provencals del Poblenou,1032.90
2309,2022,2,Sant Marti,Sant Marti de Provencals,843.00
2310,2022,2,Sant Marti,la Verneda i la Pau,757.00

In [301]:
data.info()
from IPython.display import display

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       2311 non-null   int64
 1   Trimester                  2311 non-null   int64
 2   District                   2311 non-null   object
 3   Neighbourhood              2311 non-null   object
 4   average rent (euro/month)  2311 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 90.4+ KB

In [302]:
data.head()

,Year,Trimester,District,Neighbourhood,average rent (euro/month)
0,2014,1,Ciutat Vella,el Raval,589.55
1,2014,1,Ciutat Vella,Gothic Quarter,712.79
2,2014,1,Ciutat Vella,la Barceloneta,540.71
3,2014,1,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",673.44
4,2014,1,Eixample,Fort Pienc,736.09

In [303]:
data_lenght = len(data)
print(f"Number of rows: {data_lenght} rows.")

Number of rows: 2311 rows.

In [304]:
data.describe()

              Year    Trimester  average rent (euro/month)
count  2311.000000  2311.000000                2311.000000
mean   2017.745565     2.440502                 820.780658
std       2.463095     1.116498                 255.450568
min    2014.000000     1.000000                 142.340000
25%    2016.000000     1.000000                 653.860000
50%    2018.000000     2.000000                 777.210000
75%    2020.000000     3.000000                 926.500000
max    2022.000000     4.000000                2034.000000

### Barrios & Districtos

In [305]:
districts = data["District"].unique()
neighbourhoods = data["Neighbourhood"].unique()
number_of_barrios = data["Neighbourhood"].nunique()
number_of_districts = data["District"].nunique()
print(f"In total, there are {number_of_districts} districts and {number_of_barrios} neighborhoods, which are as follows:\n \nDistricts: {districts}\n \nNeighborhoods:\n{neighbourhoods}")

In total, there are 10 districts and 75 neighborhoods, which are as follows:

Districts: ['Ciutat Vella' 'Eixample' 'Sants-Montjuic' 'Les Corts'
 'Sarria-Sant Gervasi' 'Gracia' 'Horta-Guinardo' 'Nou Barris'
 'Sant Andreu' 'Sant Marti']

Neighborhoods:
['el Raval' 'Gothic Quarter' 'la Barceloneta'
 'Sant Pere, Santa Caterina i la Ribera' 'Fort Pienc' 'Sagrada Familia'
 "la Dreta de l'Eixample" "l'Antiga Esquerra de l'Eixample"
 "la Nova Esquerra de l'Eixample" 'Sant Antoni' 'el Poble Sec'
 'la Marina de Port' 'la Font de la Guatlla' 'Hostafrancs' 'la Bordeta'
 'Sants - Badal' 'Sants' 'les Corts' 'la Maternitat i Sant Ramon'
 'Pedralbes' 'Vallvidrera, el Tibidabo i les Planes' 'Sarria'
 'les Tres Torres' 'Sant Gervasi - la Bonanova' 'Sant Gervasi - Galvany'
 'el Putxet i el Farro' 'Vallcarca i els Penitents' 'el Coll' 'la Salut'
 'la Vila de Gracia' "el Camp d'en Grassot i Gracia Nova"
 'el Baix Guinardo' 'Can Baro' 'el Guinardo' "la Font d'en Fargues"
 'el Carmel' 'la Teixonera' 'Sant Genis dels Agudells' 'Montbau'
 "la Vall d'Hebron" 'Horta' 'Vilapicina i la Torre Llobeta' 'Porta'
 'el Turo de la Peira' 'Can Peguera' 'la Guineueta' 'Canyelles'
 'les Roquetes' 'Verdun' 'la Prosperitat' 'la Trinitat Nova'
 'Ciutat Meridiana' 'la Trinitat Vella' 'el Bon Pastor' 'Sant Andreu'
 'la Sagrera' 'el Congres i els Indians' 'Navas'
 "el Camp de l'Arpa del Clot" 'el Clot'
 'el Parc i la Llacuna del Poblenou' 'la Vila Olimpica del Poblenou'
 'el Poblenou' 'Diagonal Mar i el Front Maritim del Poblenou'
 'el Besos i el Maresme' 'Provencals del Poblenou'
 'Sant Marti de Provencals' 'la Verneda i la Pau' 'Torre Baro'
 'Baro de Viver' 'la Marina del Prat Vermell' 'Vallbona' 'la Clota'
 'la Sagrada Familia' 'Sant Mart√≠ide Provencals']

### Precio promedio por a√±o:

In [306]:
average_rent = data.groupby("Year")["average rent (euro/month)"].mean().round(2)
print(f"The average rent by year from 2014 to 2022 is \n{average_rent}.")

The average rent by year from 2014 to 2022 is
Year
2014    661.64
2015    695.24
2016    750.96
2017    829.38
2018    874.05
2019    923.32
2020    915.92
2021    871.59
2022    922.55
Name: average rent (euro/month), dtype: float64.

### Precio promedio por districto:

In [307]:
average_district = data.groupby("District")["average rent (euro/month)"].mean().round(2)
average_district

District
Ciutat Vella            834.70
Eixample                963.17
Gracia                  824.91
Horta-Guinardo          711.14
Les Corts              1196.39
Nou Barris              597.41
Sant Andreu             669.37
Sant Marti              864.33
Sants-Montjuic          745.30
Sarria-Sant Gervasi    1228.21
Name: average rent (euro/month), dtype: float64

### Precio promedio por districto y por a√±o:

In [308]:
district_by_year = data.groupby(["District", "Year"])["average rent (euro/month)"].mean().round(2)
district_by_year_df = district_by_year.unstack() #	method para ver como un dataframe
print(district_by_year_df)

Year                    2014     2015     2016     2017     2018     2019  \
District
Ciutat Vella          643.73   682.97   752.02   846.16   929.11   960.34
Eixample              772.44   823.83   903.20   977.38  1024.58  1080.73
Gracia                651.01   690.79   756.20   834.32   873.45   926.18
Horta-Guinardo        581.12   595.01   649.61   718.37   750.92   796.39
Les Corts            1009.34  1104.31  1142.60  1235.72  1238.33  1322.32
Nou Barris            474.80   501.62   529.15   583.03   648.95   685.75
Sant Andreu           538.14   551.30   586.16   671.36   731.20   759.32
Sant Marti            682.12   735.78   800.33   869.57   919.76   981.27
Sants-Montjuic        597.32   611.30   662.42   760.35   799.81   823.66
Sarria-Sant Gervasi  1044.08  1083.35  1185.86  1281.41  1254.22  1334.70

Year                    2020     2021     2022
District
Ciutat Vella          921.25   858.92  1000.95
Eixample             1064.02  1000.55  1080.37
Gracia                938.77   877.26   927.51
Horta-Guinardo        800.30   765.01   781.74
Les Corts            1263.58  1214.07  1278.13
Nou Barris            678.47   664.29   675.96
Sant Andreu           767.07   721.20   760.16
Sant Marti            956.34   916.45   970.36
Sants-Montjuic        843.14   798.93   885.63
Sarria-Sant Gervasi  1332.46  1271.21  1305.03

### Media de alquiler m√°s alta por districto:

In [309]:
max_rent_disctrict = data.groupby(["District", "Year"])["average rent (euro/month)"].max()
max_rent_disctrict

District             Year
Ciutat Vella         2014     790.74
                     2015     831.13
                     2016     913.96
                     2017    1028.49
                     2018    1057.26
                              ...
Sarria-Sant Gervasi  2018    1746.01
                     2019    1745.00
                     2020    1729.50
                     2021    1597.40
                     2022    1767.00
Name: average rent (euro/month), Length: 90, dtype: float64

### Media de alquiler m√°s alta por barrio:

In [310]:
max_rent_neighborhood = data.groupby(["Neighbourhood", "Year"])["average rent (euro/month)"].max()
max_rent_neighborhood

Neighbourhood    Year
Baro de Viver    2014     231.40
                 2015     362.94
                 2016     256.45
                 2018     673.69
                 2020     584.10
                          ...
les Tres Torres  2018    1746.01
                 2019    1745.00
                 2020    1729.50
                 2021    1597.40
                 2022    1767.00
Name: average rent (euro/month), Length: 626, dtype: float64

### Media de alquiler m√°s baja por districto:

In [311]:
min_rent_disctrict = data.groupby(["District", "Year"])["average rent (euro/month)"].min()
min_rent_disctrict

District             Year
Ciutat Vella         2014     540.71
                     2015     581.34
                     2016     624.42
                     2017     714.29
                     2018     792.74
                              ...
Sarria-Sant Gervasi  2018     860.13
                     2019    1057.10
                     2020    1033.30
                     2021     990.10
                     2022     894.90
Name: average rent (euro/month), Length: 90, dtype: float64

### Media de alquiler m√°s baja por barrio y a√±o:

In [312]:
min_rent_neighbourhood = data.groupby(["Neighbourhood", "Year"])["average rent (euro/month)"].min()
min_rent_neighbourhood

Neighbourhood    Year
Baro de Viver    2014     231.40
                 2015     187.00
                 2016     142.34
                 2018     673.69
                 2020     584.10
                          ...
les Tres Torres  2018    1467.07
                 2019    1602.50
                 2020    1662.40
                 2021    1429.00
                 2022    1630.80
Name: average rent (euro/month), Length: 626, dtype: float64

### Precio promedio de alquiler por barrio y trimestre:

In [313]:
avg_trimester = data.groupby(["Year", "Trimester", "Neighbourhood"])["average rent (euro/month)"].mean().round(2)
avg_trimester

Year  Trimester  Neighbourhood
2014  1          Can Baro                                         568.94
                 Can Peguera                                      241.99
                 Canyelles                                        563.33
                 Ciutat Meridiana                                 359.27
                 Diagonal Mar i el Front Maritim del Poblenou     866.70
                                                                  ...
2022  2          la Vila Olimpica del Poblenou                   1442.60
                 la Vila de Gracia                                982.60
                 les Corts                                       1067.80
                 les Roquetes                                     632.90
                 les Tres Torres                                 1767.00
Name: average rent (euro/month), Length: 2311, dtype: float64

### En un distrito espec√≠fico, en este caso"Ciutat Vella", el barrio con el precio de alquiler promedio m√°s alto y el m√°s bajo:

In [314]:
min_by_disctrict = data[(data["District"] == "Ciutat Vella") & (data["Year"] == 2014)][["average rent (euro/month)"]].min() 
max_by_disctrict = data[(data["District"] == "Ciutat Vella") & (data["Year"] == 2014)][["average rent (euro/month)"]].max()